<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szce.im.dao.mapper.ImElectronicfenceclassificationMapper">
  <resultMap id="BaseResultMap" type="com.szce.im.dao.model.ImElectronicfenceclassification">
    <id column="ElectronicFenceClassificationID" jdbcType="VARCHAR" property="electronicfenceclassificationid" />
    <result column="ElectronicFenceClassificationName" jdbcType="VARCHAR" property="electronicfenceclassificationname" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ElectronicFenceClassificationID, ElectronicFenceClassificationName, CreateTime
  </sql>
  <select id="selectByExample" parameterType="com.szce.im.dao.model.ImElectronicfenceclassificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from im_electronicfenceclassification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from im_electronicfenceclassification
    where ElectronicFenceClassificationID = #{electronicfenceclassificationid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from im_electronicfenceclassification
    where ElectronicFenceClassificationID = #{electronicfenceclassificationid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.szce.im.dao.model.ImElectronicfenceclassificationExample">
    delete from im_electronicfenceclassification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.szce.im.dao.model.ImElectronicfenceclassification">
    insert into im_electronicfenceclassification (ElectronicFenceClassificationID, ElectronicFenceClassificationName, 
      CreateTime)
    values (#{electronicfenceclassificationid,jdbcType=VARCHAR}, #{electronicfenceclassificationname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.szce.im.dao.model.ImElectronicfenceclassification">
    insert into im_electronicfenceclassification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="electronicfenceclassificationid != null">
        ElectronicFenceClassificationID,
      </if>
      <if test="electronicfenceclassificationname != null">
        ElectronicFenceClassificationName,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="electronicfenceclassificationid != null">
        #{electronicfenceclassificationid,jdbcType=VARCHAR},
      </if>
      <if test="electronicfenceclassificationname != null">
        #{electronicfenceclassificationname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.szce.im.dao.model.ImElectronicfenceclassificationExample" resultType="java.lang.Long">
    select count(*) from im_electronicfenceclassification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update im_electronicfenceclassification
    <set>
      <if test="record.electronicfenceclassificationid != null">
        ElectronicFenceClassificationID = #{record.electronicfenceclassificationid,jdbcType=VARCHAR},
      </if>
      <if test="record.electronicfenceclassificationname != null">
        ElectronicFenceClassificationName = #{record.electronicfenceclassificationname,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update im_electronicfenceclassification
    set ElectronicFenceClassificationID = #{record.electronicfenceclassificationid,jdbcType=VARCHAR},
      ElectronicFenceClassificationName = #{record.electronicfenceclassificationname,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.szce.im.dao.model.ImElectronicfenceclassification">
    update im_electronicfenceclassification
    <set>
      <if test="electronicfenceclassificationname != null">
        ElectronicFenceClassificationName = #{electronicfenceclassificationname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ElectronicFenceClassificationID = #{electronicfenceclassificationid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szce.im.dao.model.ImElectronicfenceclassification">
    update im_electronicfenceclassification
    set ElectronicFenceClassificationName = #{electronicfenceclassificationname,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where ElectronicFenceClassificationID = #{electronicfenceclassificationid,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

  <select id="getAll" resultType="com.szce.im.dao.model.ImElectronicfenceclassification">
    select * from im_electronicfenceclassification
  </select>
</mapper>