<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="share-os-web"/>

    <dubbo:registry file="./share-os-web-dubbo.cache" address="zookeeper://zkserver:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <!--=======================================================企业基础信息模块==================================================== -->

    <!-- 企业基本信息 -->
    <dubbo:reference id="osCompanybasicinfoService" interface="com.szce.os.rpc.api.OsCompanybasicinfoService" mock="true"/>
    <!-- 企业相关信息 -->
    <dubbo:reference id="osCompanyrelatedmaterialsService" interface="com.szce.os.rpc.api.OsCompanyrelatedmaterialsService" mock="true"/>
    <!-- 企业投诉处理记录 -->
    <dubbo:reference id="osComplainthandlingrecordService" interface="com.szce.os.rpc.api.OsComplainthandlingrecordService" mock="true"/>
    <!-- 企业用户情况 -->
    <dubbo:reference id="osUserreviewService" interface="com.szce.os.rpc.api.OsUserreviewService" mock="true"/>

    <!--========================================================企业基础信息模块================================================= -->
</beans>