<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szce.os.dao.mapper.OsBillmethodMapper">
  <resultMap id="BaseResultMap" type="com.szce.os.dao.model.OsBillmethod">
    <id column="BILLMETHODID" jdbcType="VARCHAR" property="billmethodid" />
    <result column="BILLMETHOD" jdbcType="VARCHAR" property="billmethod" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BILLMETHODID, BILLMETHOD
  </sql>
  <select id="selectByExample" parameterType="com.szce.os.dao.model.OsBillmethodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from os_billmethod
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from os_billmethod
    where BILLMETHODID = #{billmethodid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from os_billmethod
    where BILLMETHODID = #{billmethodid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.szce.os.dao.model.OsBillmethodExample">
    delete from os_billmethod
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.szce.os.dao.model.OsBillmethod">
    insert into os_billmethod (BILLMETHODID, BILLMETHOD)
    values (#{billmethodid,jdbcType=VARCHAR}, #{billmethod,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.szce.os.dao.model.OsBillmethod">
    insert into os_billmethod
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billmethodid != null">
        BILLMETHODID,
      </if>
      <if test="billmethod != null">
        BILLMETHOD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billmethodid != null">
        #{billmethodid,jdbcType=VARCHAR},
      </if>
      <if test="billmethod != null">
        #{billmethod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.szce.os.dao.model.OsBillmethodExample" resultType="java.lang.Long">
    select count(*) from os_billmethod
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update os_billmethod
    <set>
      <if test="record.billmethodid != null">
        BILLMETHODID = #{record.billmethodid,jdbcType=VARCHAR},
      </if>
      <if test="record.billmethod != null">
        BILLMETHOD = #{record.billmethod,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update os_billmethod
    set BILLMETHODID = #{record.billmethodid,jdbcType=VARCHAR},
      BILLMETHOD = #{record.billmethod,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.szce.os.dao.model.OsBillmethod">
    update os_billmethod
    <set>
      <if test="billmethod != null">
        BILLMETHOD = #{billmethod,jdbcType=VARCHAR},
      </if>
    </set>
    where BILLMETHODID = #{billmethodid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szce.os.dao.model.OsBillmethod">
    update os_billmethod
    set BILLMETHOD = #{billmethod,jdbcType=VARCHAR}
    where BILLMETHODID = #{billmethodid,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>