<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szce.os.dao.mapper.OsDepositMapper">
  <resultMap id="BaseResultMap" type="com.szce.os.dao.model.OsDeposit">
    <id column="DEPOSITID" jdbcType="VARCHAR" property="depositid" />
    <result column="DEPOSITNUMBER" jdbcType="INTEGER" property="depositnumber" />
    <result column="DEPOSITSOURCE" jdbcType="VARCHAR" property="depositsource" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DEPOSITID, DEPOSITNUMBER, DEPOSITSOURCE
  </sql>
  <select id="selectByExample" parameterType="com.szce.os.dao.model.OsDepositExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from os_deposit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from os_deposit
    where DEPOSITID = #{depositid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from os_deposit
    where DEPOSITID = #{depositid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.szce.os.dao.model.OsDepositExample">
    delete from os_deposit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.szce.os.dao.model.OsDeposit">
    insert into os_deposit (DEPOSITID, DEPOSITNUMBER, DEPOSITSOURCE
      )
    values (#{depositid,jdbcType=VARCHAR}, #{depositnumber,jdbcType=INTEGER}, #{depositsource,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.szce.os.dao.model.OsDeposit">
    insert into os_deposit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="depositid != null">
        DEPOSITID,
      </if>
      <if test="depositnumber != null">
        DEPOSITNUMBER,
      </if>
      <if test="depositsource != null">
        DEPOSITSOURCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="depositid != null">
        #{depositid,jdbcType=VARCHAR},
      </if>
      <if test="depositnumber != null">
        #{depositnumber,jdbcType=INTEGER},
      </if>
      <if test="depositsource != null">
        #{depositsource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.szce.os.dao.model.OsDepositExample" resultType="java.lang.Long">
    select count(*) from os_deposit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update os_deposit
    <set>
      <if test="record.depositid != null">
        DEPOSITID = #{record.depositid,jdbcType=VARCHAR},
      </if>
      <if test="record.depositnumber != null">
        DEPOSITNUMBER = #{record.depositnumber,jdbcType=INTEGER},
      </if>
      <if test="record.depositsource != null">
        DEPOSITSOURCE = #{record.depositsource,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update os_deposit
    set DEPOSITID = #{record.depositid,jdbcType=VARCHAR},
      DEPOSITNUMBER = #{record.depositnumber,jdbcType=INTEGER},
      DEPOSITSOURCE = #{record.depositsource,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.szce.os.dao.model.OsDeposit">
    update os_deposit
    <set>
      <if test="depositnumber != null">
        DEPOSITNUMBER = #{depositnumber,jdbcType=INTEGER},
      </if>
      <if test="depositsource != null">
        DEPOSITSOURCE = #{depositsource,jdbcType=VARCHAR},
      </if>
    </set>
    where DEPOSITID = #{depositid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szce.os.dao.model.OsDeposit">
    update os_deposit
    set DEPOSITNUMBER = #{depositnumber,jdbcType=INTEGER},
      DEPOSITSOURCE = #{depositsource,jdbcType=VARCHAR}
    where DEPOSITID = #{depositid,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>