<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szce.os.dao.mapper.OsOperationinformationMapper">
  <resultMap id="BaseResultMap" type="com.szce.os.dao.model.OsOperationinformation">
    <id column="OPERATIONINFORMATIONID" jdbcType="VARCHAR" property="operationinformationid" />
    <result column="MILEAGE" jdbcType="VARCHAR" property="mileage" />
    <result column="UNLOCKTIME" jdbcType="TIMESTAMP" property="unlocktime" />
    <result column="LOCKTIME" jdbcType="TIMESTAMP" property="locktime" />
    <result column="AOMUNT	FLOA" jdbcType="DOUBLE" property="aomunt	floa" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    OPERATIONINFORMATIONID, MILEAGE, UNLOCKTIME, LOCKTIME, AOMUNT	FLOA, TYPE
  </sql>
  <select id="selectByExample" parameterType="com.szce.os.dao.model.OsOperationinformationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from os_operationinformation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from os_operationinformation
    where OPERATIONINFORMATIONID = #{operationinformationid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from os_operationinformation
    where OPERATIONINFORMATIONID = #{operationinformationid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.szce.os.dao.model.OsOperationinformationExample">
    delete from os_operationinformation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.szce.os.dao.model.OsOperationinformation">
    insert into os_operationinformation (OPERATIONINFORMATIONID, MILEAGE, 
      UNLOCKTIME, LOCKTIME, AOMUNT	FLOA, 
      TYPE)
    values (#{operationinformationid,jdbcType=VARCHAR}, #{mileage,jdbcType=VARCHAR}, 
      #{unlocktime,jdbcType=TIMESTAMP}, #{locktime,jdbcType=TIMESTAMP}, #{aomunt	floa,jdbcType=DOUBLE}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.szce.os.dao.model.OsOperationinformation">
    insert into os_operationinformation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operationinformationid != null">
        OPERATIONINFORMATIONID,
      </if>
      <if test="mileage != null">
        MILEAGE,
      </if>
      <if test="unlocktime != null">
        UNLOCKTIME,
      </if>
      <if test="locktime != null">
        LOCKTIME,
      </if>
      <if test="aomunt	floa != null">
        AOMUNT	FLOA,
      </if>
      <if test="type != null">
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operationinformationid != null">
        #{operationinformationid,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null">
        #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="unlocktime != null">
        #{unlocktime,jdbcType=TIMESTAMP},
      </if>
      <if test="locktime != null">
        #{locktime,jdbcType=TIMESTAMP},
      </if>
      <if test="aomunt	floa != null">
        #{aomunt	floa,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.szce.os.dao.model.OsOperationinformationExample" resultType="java.lang.Long">
    select count(*) from os_operationinformation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update os_operationinformation
    <set>
      <if test="record.operationinformationid != null">
        OPERATIONINFORMATIONID = #{record.operationinformationid,jdbcType=VARCHAR},
      </if>
      <if test="record.mileage != null">
        MILEAGE = #{record.mileage,jdbcType=VARCHAR},
      </if>
      <if test="record.unlocktime != null">
        UNLOCKTIME = #{record.unlocktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.locktime != null">
        LOCKTIME = #{record.locktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.aomunt	floa != null">
        AOMUNT	FLOA = #{record.aomunt	floa,jdbcType=DOUBLE},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update os_operationinformation
    set OPERATIONINFORMATIONID = #{record.operationinformationid,jdbcType=VARCHAR},
      MILEAGE = #{record.mileage,jdbcType=VARCHAR},
      UNLOCKTIME = #{record.unlocktime,jdbcType=TIMESTAMP},
      LOCKTIME = #{record.locktime,jdbcType=TIMESTAMP},
      AOMUNT	FLOA = #{record.aomunt	floa,jdbcType=DOUBLE},
      TYPE = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.szce.os.dao.model.OsOperationinformation">
    update os_operationinformation
    <set>
      <if test="mileage != null">
        MILEAGE = #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="unlocktime != null">
        UNLOCKTIME = #{unlocktime,jdbcType=TIMESTAMP},
      </if>
      <if test="locktime != null">
        LOCKTIME = #{locktime,jdbcType=TIMESTAMP},
      </if>
      <if test="aomunt	floa != null">
        AOMUNT	FLOA = #{aomunt	floa,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where OPERATIONINFORMATIONID = #{operationinformationid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szce.os.dao.model.OsOperationinformation">
    update os_operationinformation
    set MILEAGE = #{mileage,jdbcType=VARCHAR},
      UNLOCKTIME = #{unlocktime,jdbcType=TIMESTAMP},
      LOCKTIME = #{locktime,jdbcType=TIMESTAMP},
      AOMUNT	FLOA = #{aomunt	floa,jdbcType=DOUBLE},
      TYPE = #{type,jdbcType=VARCHAR}
    where OPERATIONINFORMATIONID = #{operationinformationid,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>