<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szce.os.dao.mapper.OsUserreviewMapper">
  <resultMap id="BaseResultMap" type="com.szce.os.dao.model.OsUserreview">
    <id column="REVIEWID" jdbcType="VARCHAR" property="reviewid" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="REVIEWTYPE" jdbcType="VARCHAR" property="reviewtype" />
    <result column="RATING" jdbcType="INTEGER" property="rating" />
    <result column="REVIEWCONTENT" jdbcType="VARCHAR" property="reviewcontent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REVIEWID, ORDERID, REVIEWTYPE, RATING, REVIEWCONTENT
  </sql>
  <select id="selectByExample" parameterType="com.szce.os.dao.model.OsUserreviewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from os_userreview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from os_userreview
    where REVIEWID = #{reviewid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from os_userreview
    where REVIEWID = #{reviewid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.szce.os.dao.model.OsUserreviewExample">
    delete from os_userreview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.szce.os.dao.model.OsUserreview">
    insert into os_userreview (REVIEWID, ORDERID, REVIEWTYPE, 
      RATING, REVIEWCONTENT)
    values (#{reviewid,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, #{reviewtype,jdbcType=VARCHAR}, 
      #{rating,jdbcType=INTEGER}, #{reviewcontent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.szce.os.dao.model.OsUserreview">
    insert into os_userreview
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reviewid != null">
        REVIEWID,
      </if>
      <if test="orderid != null">
        ORDERID,
      </if>
      <if test="reviewtype != null">
        REVIEWTYPE,
      </if>
      <if test="rating != null">
        RATING,
      </if>
      <if test="reviewcontent != null">
        REVIEWCONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reviewid != null">
        #{reviewid,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="reviewtype != null">
        #{reviewtype,jdbcType=VARCHAR},
      </if>
      <if test="rating != null">
        #{rating,jdbcType=INTEGER},
      </if>
      <if test="reviewcontent != null">
        #{reviewcontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.szce.os.dao.model.OsUserreviewExample" resultType="java.lang.Long">
    select count(*) from os_userreview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update os_userreview
    <set>
      <if test="record.reviewid != null">
        REVIEWID = #{record.reviewid,jdbcType=VARCHAR},
      </if>
      <if test="record.orderid != null">
        ORDERID = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewtype != null">
        REVIEWTYPE = #{record.reviewtype,jdbcType=VARCHAR},
      </if>
      <if test="record.rating != null">
        RATING = #{record.rating,jdbcType=INTEGER},
      </if>
      <if test="record.reviewcontent != null">
        REVIEWCONTENT = #{record.reviewcontent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update os_userreview
    set REVIEWID = #{record.reviewid,jdbcType=VARCHAR},
      ORDERID = #{record.orderid,jdbcType=VARCHAR},
      REVIEWTYPE = #{record.reviewtype,jdbcType=VARCHAR},
      RATING = #{record.rating,jdbcType=INTEGER},
      REVIEWCONTENT = #{record.reviewcontent,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.szce.os.dao.model.OsUserreview">
    update os_userreview
    <set>
      <if test="orderid != null">
        ORDERID = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="reviewtype != null">
        REVIEWTYPE = #{reviewtype,jdbcType=VARCHAR},
      </if>
      <if test="rating != null">
        RATING = #{rating,jdbcType=INTEGER},
      </if>
      <if test="reviewcontent != null">
        REVIEWCONTENT = #{reviewcontent,jdbcType=VARCHAR},
      </if>
    </set>
    where REVIEWID = #{reviewid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szce.os.dao.model.OsUserreview">
    update os_userreview
    set ORDERID = #{orderid,jdbcType=VARCHAR},
      REVIEWTYPE = #{reviewtype,jdbcType=VARCHAR},
      RATING = #{rating,jdbcType=INTEGER},
      REVIEWCONTENT = #{reviewcontent,jdbcType=VARCHAR}
    where REVIEWID = #{reviewid,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>