<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="share-im-admin"/>

    <dubbo:registry file="./share-im-admin-dubbo.cache" address="zookeeper://zkserver:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <!-- 电子围栏分类 -->
    <dubbo:reference id="imElectronicfenceclassificationService" interface="com.szce.im.rpc.api.ImElectronicfenceclassificationService" mock="true"/>
    <!-- 电子围栏基础信息 -->
    <dubbo:reference id="imElectronicfencedataService" interface="com.szce.im.rpc.api.ImElectronicfencedataService" mock="true"/>

    <!-- 自行车道 -->
    <dubbo:reference id="imBikewayService" interface="com.szce.im.rpc.api.ImBikewayService" mock="true"/>
    <!-- 标识标志 -->
    <dubbo:reference id="imLogosignService" interface="com.szce.im.rpc.api.ImLogosignService" mock="true"/>
    <!-- 接口服务 -->
    <dubbo:reference id="upmsApiService" interface="com.szce.upms.rpc.api.UpmsApiService" mock="true"/>
</beans>